<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/bower_components/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/animations.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/author-profile.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/casper.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/media-queries.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/pagination.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/read-more.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/single-post.css" />
    <link rel="stylesheet" type="text/css" href="/staging/css/utilities.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="/staging/css/casperStarter.css" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}

        <section class="main">
          {{{body}}}
        </section>
        <section class="aside aside-1">

          {{> "patent_details"}}
        </section>
        <section class="aside aside-2">
          {{> "social"}}

        </section>
        <section class="footer">
          {{> buy_now}}
          <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
          </footer>
        </section>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/casperStarter.js"}}"></script>
</body>
</html>
